{
    "cloud": "AzurePublicCloud",
    "tenantId": "{{ azure_tenant_id }}",
    "subscriptionId": "{{ azure_subscription }}",
    "aadClientId": "{{ azure_client_it }}",
    "aadClientSecret": "{{ azure_client_secrete }}",
    "resourceGroup": "{{ azure_project_rs }}",
    "securityGroupName": "{{ azure_project_sg }}",
    "securityGroupResourceGroup": "{{ azure_project_rs }}",
    "location": "{{ azure_project_location }}",
    "vmType": "{{ azure_project_vmtype }}",
    "vnetName": "{{ azure_project_vnetname }}",
    "vnetResourceGroup": "{{ azure_project_rs }}",
    "subnetName": "{{ azure_project_subnetname }}",
    "routeTableName": "{{ azure_project_route_table }}",
    "loadBalancerSku": "{{ azure_project_lb_sku }}",
    "loadBalancerName": "",
    "maximumLoadBalancerRuleCount": 250,
    "useManagedIdentityExtension": false,
    "useInstanceMetadata": true
}